<h1 mat-dialog-title>Add to List</h1>
<div mat-dialog-content>
  <form [formGroup]="googlekeepform">
    <mat-form-field appearance="outline">
        <mat-label>Task</mat-label>
        <input formControlName="googlekeepform" matInput placeholder="task name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>TaskDone</mat-label>
      <mat-select formControlName="yesorno" placeholder="YesorNo">
        <mat-option value="Done">Yes</mat-option>
        <mat-option value="Not Done">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
  </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px; color: blue;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>